EditorTextoSln/EditorCPP2015/Debug/
EditorTextoSln/.vs/
EditorTextoSln/*.suo
EditorTextoSln/ipch/
EditorTextoSln/Debug/
EditorTextoSln/*.sdf
EditorTextoSln/*.opensdf
EditorTextoSln/x64/
EditorTextoSln/*.db
EditorTextoSln/EditorCPP2015/x64/